<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<p><a href="{{url_for('store')}}"><button>Continue buying</button></a></p>
<!-- <p><a href="{{url_for('cart')}}"><button>Pay now</button></a></p>
 -->
<!-- Delete this section when you reach this file
<h1 style="font-size: 55px;position: absolute;left: 41.5%;top:28%">Cart Function</h1>
<h1 style="font-size: 70px;position: absolute;left: 40%;bottom:50%">Coming Soon</h1>
 ------------------ -->
<h1>The Cart</h1>
{%for j in carts or[]%}
	<h2>{{j.productID}}</h2>
{%endfor%}
</body>
</html>