<!DOCTYPE html>
<html>
<head>
	<title>fake beards store </title>
</head>
<body>
<a href="{{url_for('home')}}">Visit my home store page</a>
<a href="{{url_for('cart')}}">press here to see your cart</a>



<!-- <div >
  <img src="/static/theUri.jpeg" alt="" style="width:30%">
  <h1>the Uri</h1>
  <p class="price">$29.99</p>
  <p>Ever dreamed of looking like Uri Etzion? this is the look for you!</p>

  <p><a href="{{url_for('cart')}}"><button>Add to Cart</button></a></p>
</div> -->
<div >
  <img src="/static/clean.jpg" alt="" style="width:30%">
  <h1>the clean look(Toby's favourite)</h1>
  <p class="price">$24.99</p>
  <p>You don't like facial hair? this is the look for you!</p>

  <p><a href="{{url_for('cart')}}"><button>Add to Cart</button></a></p>
</div>
<div >
  <img src="/static/harden.jpeg" alt="" style="width:30%">
  <h1>the James Harden</h1>
  <p class="price">$35.99</p>
  <p>Ever dreamed of having a huge beards and make all your friends jealous? this is the look for you!</p>

  <p><a href="{{url_for('cart')}}"><button>Add to Cart</button></a></p>
</div>
<head>
<title>Table with database</title>
<style>
table {
border-collapse: collapse;
width: 100%;
color: #588c7e;
font-family: monospace;
font-size: 25px;
text-align: left;
}
th {
background-color: #588c7e;
color: white;
}
tr:nth-child(even) {background-color: #f2f2f2}
</style>
</head>
<body>
<table>
<tr>
<th>Id</th>
<th>Username</th>
<th>Password</th>
</tr>

</table>
</body>
</body>
</html>